/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --accent: #2337ff;
    --accent-dark: #000d8a;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: left;
    font-family: 'Courier Prime', system-ui, sans-serif;
}

article p {
    margin: 1.5rem 0;
    font-family: 'Courier Prime', system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

a {
    text-decoration: underline;
}

article em {
    font-family: 'Times New Roman', Times, serif;
}

blockquote p {
    padding-left: 0.9rem;
    margin-left: 0.9rem;
    border-left: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
