<footer class="py-7 px-2 font-sans text-center w-full text-zinc-400 text-xs">
    <ul>
        <li>
            <a href=""></a>
        </li>
    </ul>
    juwee's girlblog <br/> since 2024 <br />
</footer>
