<main id="blog-title" class="my-6">
    <a href="/">
    <pre class="font-mono leading-none text-[50%]">
       _                         _      
      (_)_  ___      _____  ___ ( )_____
     / / / / / | /| / / _ \/ _ \|// ___/
    / / /_/ /| |/ |/ /  __/  __/ (__  ) 
 __/ /\__,_/ |__/____\________/ /____/  
/______ _(_)____/ / /_  / /___  ____ _  
  / __ `/ / ___/ / __ \/ / __ \/ __ `/  
 / /_/ / / /  / / /_/ / / /_/ / /_/ /   
 \__, /_/_/  /_/_.___/_/\____/\__, /    
/____/                       /____/     
    </pre>
    </a>
    <div class="flex gap-5 my-3 text-mint font-sans [&>a]:underline">
        <a href="/">/home</a>
        <a href="/about">/about</a>
        <a href="/rss.xml">/rss</a>
    </div>
</main>
